.col1, .col2, .col3{width:24.5%;min-height:100px;min-width:425px;margin:1px;}
.col1 img{position:relative;float:left;width:100px;height:100px;max-width:100px; max-height:100px;
	-webkit-box-shadow:inset 0  0    3px #ddd;
    -moz-box-shadow:inset  0 0   3px #ddd;
    box-shadow:inset 0 0   3px #ddd;padding:8px;	
}
.col1 h3{text-align:left;margin:0px;margin-left:125px;}
.col1 p{text-align:left;margin:0px;margin-left:125px;}
p.beer-desc{padding-top:10px;white-space:normal;max-width:400px;height:55px;text-overflow:ellipsis;display:none;} 
.beer-style{font-weight:normal;font-size:90%;}
.brewery-name{font-weight:normal; padding-top:10px;}
.brewery-city{font-weight:normal;font-size:90%;}
.brewery-url{font-weight:normal;font-size:90%;}
p.beer-abv{font-weight:bold;font-size:16px;display:inline-block;padding-top:10px;margin-left:10px;float:left;clear:left;}
p.beer-ibu{font-weight:bold;font-size:16px;display:inline-block;padding-top:10px;margin-left:10px;float:left;}
p.beer-glass{font-weight:bold;font-size:16px;display:inline-block;padding-top:10px;margin-left:10px;float:right;}
p.beer-growler{font-weight:bold;font-size:16px;display:inline-block;padding-top:10px;margin-left:10px;float:right;}
img.phlogo{width:125px;max-width:125px;height:auto;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;padding:0px;margin-right:25px;}


.company-block{width:48.75%;min-width:880px;border: 3px dashed #fff;background:#4E381F url(/images/Pour-House-cask-with-logo-transparent.png) 725px 0 no-repeat; }
.company-block h3{font-size:22px;}
img.displayqr{float:right;width:53px;webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;padding:0px;}
.company-block p.brewery-name{font-size:22px;}
#test{
background:transparent url(../css/caption-bg_orig.png) 0 0 repeat;
padding:10px;padding-top:25px;
-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px;	
	width:450px;
	display:inline-block;float:left;
}
#test2{display:inline-block;width:225px;float:left;padding-top:15px;}
#test2 h3, #test2 p{margin-left:25px;font-size:16px;}