#slideshow { 
    margin:  0px auto; 
    position: relative; 
    width: 800px; 
    height: 800px; 
    padding: 10px; 
  /*  box-shadow: 0 0 20px rgba(0,0,0,0.4); */
}

#slideshow > div { 
 /*   position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; */
	width:100%; 
  overflow:hidden;
}

#slideshow > div > img{ 

  /* height:500px;  */
}
#slideshow-wrapper1{width:100%;overflow:hidden;z-index:999;}
#slideshow1 { 
   /* margin:  0px auto; 
    position: relative; */
  /*  width: 795px; 
    height: 1054px; 
    padding: 10px; */
    /*box-shadow: 0 0 20px rgba(41,235,23,0.4);*/ 
    width:100%;
   overflow:hidden;
}

#slideshow1 > div { 
   /* position: absolute; */ 
   /*  top: 250px; 
    left: 500px; 
     right: 10px; 
    bottom: 10px; */
	 width:100%;
   overflow:hidden;
}

#slideshow1 > div > img{ 

   /*height:1045px; */
  /* border:5px solid #000000;*/
}

 

.beernamex {text-shadow: 0px 1px 0px #999, 0px 2px 0px #888,  0px 3px 0px #001135;}
.beershadow{text-shadow: 0px 1px 0px #999, 0px 2px 0px #888,  0px 3px 2px #001135;}

.winenamex {text-shadow: 0px 1px 0px #999, 0px 2px 0px #888,  0px 3px 0px #001135;}
.wineshadow{text-shadow: 0px 1px 0px #999, 0px 2px 0px #888,  0px 3px 2px #001135;}

 h1,h2,h3,h4,h5,h6,p{margin:0px;} 
.col1, .col2, .col3{width:24.5%;min-height:100px;min-width:470px;margin:1px; }
div#wines-gridview{background:#000000 url(/images/background_wine4t.png)  0px  0px no-repeat;}
div#wines-gridview{background:#000000;}
 div#wines-gridview a.col1, div#wines-gridview a.col2, div#wines-gridview a.col3{width:49%;min-height:100px;min-width:470px;margin:1px;background:transparent url(/css/caption-bg_orig.png) 0 0 repeat;box-shadow:none;border:none; } 
/*div#wines-gridview a.col1, div#wines-gridview a.col2, div#wines-gridview a.col3{width:49%;min-height:100px;min-width:470px;margin:1px;background:transparent;box-shadow:none;border:none; }*/
div#wines-gridview a.col1 span, div#wines-gridview a.col2 span, div#wines-gridview a.col3 span{border:none; }
.winenamex{color:#c9bf30; }
.col1 img{position:relative;float:left;width:150px;height:150px;max-width:150px; max-height:150px;
	-webkit-box-shadow:inset 0  0    3px #ddd;
    -moz-box-shadow:inset  0 0   3px #ddd;
    box-shadow:inset 0 0   3px #ddd;padding:8px;margin-right:35px;	
}
.col1 h3{text-align:left;margin:0px;margin-left:125px;font-size:44px;color:#f7941e;} /*Landscape 25px; */
.col1 p{text-align:left;margin:0px;margin-left: 0px;}
.col1 p.beer-desc{padding-top:10px;white-space:normal;max-width:400px;height:55px;text-overflow:ellipsis;display:none;font-size:30px;} 
/*.col1 p.wine-desc{padding-top:10px;white-space:normal;max-width:800px;height:75px;text-overflow:ellipsis;font-size:18px;} */
.col1 .beer-style{font-weight:normal;font-size:38px;padding-top:10px;color:#f7941e;}
.col1 .brewery-name{font-weight:normal;font-size:34px;padding-top:10px;float:left;clear:right;width:70%;}
.col1 .brewery-city{font-weight:normal;font-size:34px;padding-top:10px;float:right;clear:right;width:30%;display:none;}
.col1 .brewery-durl{font-weight:normal;font-size:30px;float:left;clear:right;width:60%; display:none;}
.col1 p.beer-abv{font-weight:bold;font-size:34px;display:inline-block;padding-top:10px;margin-left:30px;float:left; }
.col1 p.beer-ibu{font-weight:bold;font-size:34px;display:inline-block;padding-top:10px;margin-left:30px;float:left;}
.col1 p.beer-glass{font-weight:bold;font-size:34px;display:inline-block;padding-top:10px;margin-left:30px;float:left;margin-right:20px;}
.col1 p.beer-growler{font-weight:bold;font-size:34px;display:inline-block;padding-top:10px;margin-left:20px;float:left;}
.col1 img.phlogo{ height:150px;height:auto;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;padding:0px;margin-right:25px;}
.col1 img.nzlogo{ height:145px;height:auto;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;padding:0px;margin-right:25px;}




/*.col1 p.wine-desc{padding-top:10px;white-space:normal;max-width:400px;height:55px;text-overflow:ellipsis;display:none;font-size:30px;}*/ 
.col1 p.wine-desc{padding-top:10px;white-space:normal;max-width:800px;height:75px;text-overflow:ellipsis;font-size:18px;}  
.col1 .wine-style{font-weight:normal;font-size:125%;}
.col1 .winery-name{font-weight:normal;padding-top:10px;}
.col1 .winery-city{font-weight:normal;font-size:90%;}
.col1 .winery-url{font-weight:normal;font-size:90%;}
.col1 p.wine-abv{font-weight:bold;font-size:16px;display:inline-block;padding-top:10px;margin-left:10px;float:left;clear:left;}
.col1 p.wine-ibu{font-weight:bold;font-size:16px;display:inline-block;padding-top:10px;margin-left:10px;float:left;}
.col1 p.wine-glass{font-weight:bold;font-size:16px;display:inline-block;padding-top:10px;margin-left:10px;float:right;}
.col1 p.wine-growler{font-weight:bold;font-size:16px;display:inline-block;padding-top:10px;margin-left:10px;float:right;}





.camera_target {
	
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-khtml-border-radius:20px;
	border-radius:20px;	
	
	
}

.rounded{
	
-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-khtml-border-radius:20px;
	border-radius:20px;	
  
}


.splash-block{max-width:44%;}
/*.beer-splash{ background-color:#c7b299; }*/
.beer-splash div{
	
-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-khtml-border-radius:20px;
	border-radius:20px;	
  
}
a.colx{
width:100%;
min-height:950px;
min-width:100%;
margin:1px;
text-align:left;
background:transparent url(/css/caption-bg_orig.png) 0 0 repeat; 
}
.colx img{position:relative;float:left;width:200px;height:200px;max-width:200px; max-height:200px;
	-webkit-box-shadow:inset 0  0    3px #ddd;
    -moz-box-shadow:inset  0 0   3px #ddd;
    box-shadow:inset 0 0   3px #ddd;
    padding:8px;
   
}
.colx h3{text-align:left;margin:0px;padding:25px;padding-left:25px;}
.colx p{text-align:left;margin:0px;padding-left:25px;float:left;width:100%}

.colx .beer-name{font-size:50px;padding:15px;padding-left:55px;margin-top:25px;margin-bottom:25px;
font-weight:normal;white-space:nowrap;overflow:hidden;float:left;clear:left;background-color:#533a19;width:90%;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-khtml-border-radius:20px;
	border-radius:20px;
	height:60px;min-height:60px; text-overflow:ellipsis; 	
}

 .colx .beer-style{font-weight:normal;font-size:50px;padding-left:20px;padding-top:5px;}
.brewery-block{padding-top:25px;}
.colx .brewery-label{height:125px;width:125px;float:left;margin-right:15px;}
.colx .brewery-name{font-size:30px; padding-top:0px; overflow:hidden;}
.colx .brewery-city{font-size:30px; font-weight:normal;padding-left:0px; overflow:hidden; x  }
.colx .brewery-url{font-weight:normal;font-size:30px; padding-left:0px;    }
.colx .beer-desc{padding-top: 0px;max-width:80%;height:260px;min-height:260px;text-overflow:ellipsis;white-space:normal;display:block; font-size:28px;float:left;}  
.label-block{ width:100%;padding-top:25px;}
.colx span.beer-abv{float:left;font-weight:bold;font-size:40px; margin-top:25px;margin-left:10px;overflow:hidden; width:20%;}
.colx span.beer-ibu{float:left;font-weight:bold;font-size:40px; margin-top:25px;margin-left:10px; overflow:hidden; width:20%; }	
.colx span.beer-glass{float:left;font-weight:bold;font-size:40px;   margin-right:10px; margin-top:25px;overflow:hidden; width:20%; }
.colx span.beer-growler{float:left;font-weight:bold;font-size:40px; margin-top:25px; margin-left: 10px; overflow:hidden;width:30%;  }	 

  


	
 
.company-block p.brewery-name{font-size:22px;background:transparent url(/css/caption-bg_orig.png) 0 0 repeat;}
#wines-gridview a.company-block{width:48.85%;min-width:950px;min-height:150px;border: 3px dashed #fff;background:#4E381F url(/images/winelist_logo.png) 250px 10px no-repeat; }
#beers-gridview a.company-block{min-width:1073px;min-height:150px;border: 3px dashed #fff;background: url(/images/Pour-House-Grill-logo_beerlist.png) 800px 5px no-repeat,/* url(/images/Pour-House-cask-with-logo_beerlist.png) 200px 10px no-repeat,*/ url(/images/Pour-House-cask-with-logo_beerlist.png) 10px 10px no-repeat; }
.company-block h3{font-size:22px;}
img.displayqr{float:right;width:53px;webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;padding:0px;}

 

#test{
background:transparent url(/css/caption-bg_orig.png) 0 0 repeat;
padding:10px;padding-top:25px;
-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px;	
	margin-left:225px;
	width:400px;
	display:inline-block;float:left;
}
#test2{display:inline-block;width:225px;float:left;padding-top:15px;}
#test2 h3, #test2 p{margin-left:25px;font-size:16px;}

.feature-block{width:48.50%; border: 0px dashed #fff;margin-top:5px;float:right;
-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px;	
	 padding:10px;	
	background: transparent url('/images/wood_bg_beach.png') 0 0 repeat; 
}
 #lamenucontent{display:inline-block;}
 #menu-listview{border:none;box-shadow:none;}
 #menu-listview > li{background:transparent;border:none;padding:5px;}
  #menu-listview > h3{color:#533a19;}
  #menu-listview > li > h3 {color:#533a19;}
 /* #menu-listview > li > h3 i{color:#533a19;} */
   #menu-listview > li > p{color:#533a19;}
    #menu-listview > li > p.price{color:#533a19;font-size:14px;font-weight:bold;}

 #menu-listview > .menu-divider{display:none;}
 #lamenucontent > .header{font-size:36px;font-weight:bold;vertical-align:middle;margin-top:0px;margin-bottom:5px;color:#533a19;}
 
#specials {display:inline-block;float:right;width:395px;}
 
#specials > h1,#specials > h2,#specials > h3,#specials > h4,#specials > h5,#specials > h6,#specials > p{color:#533a19; font-weight:normal;margin:0px;} 
 #specials > .header{font-size:36px;font-weight:bold;vertical-align:top;margin-top:0px;padding-top:47px;color:#533a19;}

 
 #specials > .title{margin-top:25px;color:#f7941e;text-shadow:none;}
 #specials > .heading{padding-top:10px;font-weight:bold;font-size:35px;}
 #specials > .subheading{padding-top:5px;text-align:left;padding-left:0px;}
 #specials > .details{padding-top:5px;}  

.marquee {
 /* width: 1900px; the plugin works for responsive layouts so width is not necessary */
 width: 1920px;
  overflow: hidden;
  border:0px solid #999;
  font-size:50px;
  background-color:#533a19;
  color:#dedede;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888,  0px 3px 0px #001135;
  font-weight:bold;
  }
  
/* FAST FOOD MENU STYLING - Randalls Chalkboard - */  
  @font-face {
    font-family: 'Chalkduster';
    src: url('/css/themes/fonts/Chalkduster_old.ttf');
    font-weight: bold;  
    font-style: bold;  
 }

* {color:#ffffff;
 font-family: 'Chalkduster', arial, serif;  }

.headerblock{clear:both;}
div.menublock > h1, .menublock > h2, .menublock > h3, .menublock > h4, .menublock > h5{
color:#ffffff;
 font-family: 'Chalkduster', arial, serif;  
 		
}

div.menublock > div > h1, .menublock >  div > h2, .menublock >  div > h3, .menublock >  div > h4, .menublock >  div > h5{
color:#ffffff;
 font-family: 'Chalkduster', arial, serif;  
 		
}

.subheading, div.menublock > p{
color:#ffffff;
/*font-family: 'Chalkduster', arial, serif; */	
font-size:32px;	
}

.subheading{padding-left:0px;color:#ffffff;} 

div.menublock > ul > li{
color:#ffffff;
/*font-family: 'Chalkduster', arial, serif; */
font-size:38px;	
line-height:60px;
text-align:left;	
}
 div.menublock > ul > li span.item{
/*margin-left:20px;
margin-right:5px;
min-width:900px;
overflow:hidden;
text-align:left;
 background:black;
font-size:110%;*/
font-size:115%;
padding-left:25px;
 
}
*/
div.menublock > ul > li span.price{
 
background:black repeat;
	
} 

ul.leaders li {background:#000000;}
ul.leaders {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none;}
ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    color:white;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . ";}
ul.leaders span:first-child {
    padding-right: 0.33em;
    background: black;}
ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background-color: black;
    padding-right: 25px;}
    
ul.leaders li.nodot:before {
    float: left;
    width: 0;
    white-space: nowrap;
    color:white;
    content:
 "";}    
 
 ul.leaders li.nodotcentered:before {
 text-align:center;
    float: left;
    width: 0;
    white-space: nowrap;
    color:white;
    content:
 "";}    
 
 ul.leaders li.nodotcentered{text-align:center;}

.overlay {position:absolute;left:0px;top:0px;width:1920px;height:1080px;text-align:center;}

#my_map {width:1920px;height:1080px;}